<!DOCTYPE html>
<html>
<head>
    <title>Azure Login Callback</title>
</head>
<body>
<script>
  function post_data(url, data) {
    const form = document.createElement('form');
    form.method = 'POST';
    form.action = url;

    for (const key in data) {
        const input = document.createElement('input');
        input.type = 'hidden';
        input.name = key;
        input.value = data[key];
        form.appendChild(input);
    }

    document.body.appendChild(form);
    form.submit();
}

  const hash = window.location.hash.substring(1); // remove '#'
  const params = new URLSearchParams(hash);

  const dataToPost = Object.fromEntries(params.entries());
  // const id_token = params.get('id_token');
  // const access_token = params.get('access_token');

  // post_data('{{ h.url_for(controller="azure_auth", action="login") }}', {
  //   id_token: id_token,
  //   access_token: access_token
  // });
  post_data('{{ h.url_for(controller="azure_auth", action="login") }}', dataToPost);

</script>

<h1>Processing Azure Login...</h1>
<p>
Please wait while we log you in with Azure. If you are not redirected shortly, <a href="/user/login">click here to return to the login page</a>.
</p>
</body>
</html>
