{% import 'macros/autoform.html' as autoform %}

{% extends "admin/base.html" %}

{% import 'macros/form.html' as form %}

{% block primary_content_inner %}

  {{ form.errors(error_summary) }}

  <form method='post' action="" id="admin-config-form" enctype="multipart/form-data">
    {% block admin_form %}

    {{ form.input('ckanext.azure_auth.login_label',
      id='field-ckanext.azure_auth.login_label',
      label=_('Login label'),
      value=data['ckanext.azure_auth.login_label'],
      error=errors['ckanext.azure_auth.login_label']) }}

    {{ form.input('ckanext.azure_auth.login_button',
      id='field-ckanext.azure_auth.login_button',
      label=_('Login button'),
      value=data['ckanext.azure_auth.login_button'],
      error=errors['ckanext.azure_auth.login_button']) }}

      {% endblock %}
      <div class="form-actions">
        <button type="submit" class="btn btn-primary" name="save">{{ _('Update Config') }}</button>
      </div>
  </form>
{% endblock %}

{% block secondary_content %}
  <div class="module module-narrow module-shallow">
    <h2 class="module-heading">
      <i class="fa fa-info-circle"></i>
      {{ _('CKAN config options') }}
    </h2>
    <div class="module-content">
      {% block admin_form_help %}
        {% set about_url = h.url_for(controller='home', action='about') %}
        {% set home_url = h.url_for(controller='home', action='index') %}
        {% set docs_url = "http://docs.ckan.org/en/{0}/theming".format(g.ckan_doc_version) %}
        {% trans %}
          <p><strong>Login label:</strong> The text appearing in the panel for the ADFS login.</p>
        {% endtrans %}
        {% trans %}
          <p><strong>Login button:</strong> The text appearing inside the ADFS login button.</p>
        {% endtrans %}
    {% endblock %}
    </div>
  </div>
{% endblock %}
